/* ====== Normalized ======*/
* {
    box-sizing: border-box;
}

body {
    /* Box model */
    margin: 0px;
    
    /* Background */
    background-color: #141418;
    
    /* Typography */
    font-size: 18px;
    color: #F4F4F5;
}

/* [Link Styles] */
a:link {
    /* Typography*/
    color: #FF8800;
}

a:visited {
    /* Typography*/
    color: #00C2D1;
}

a:hover {
    /* Typography*/
    color: #FFA94D;
}

a:active {
    /* Typography*/
    color: #3DFFFC;
}

/* ====== Typography ======*/
h2 {
    /* Box model */
    margin-left: 1.5%;
    
    /* Typography */
    font-size: 30px;
}

h3 {
    /* Typography */
    font-size: 25px;
}

.viewport-text {
    /* Typography */
    font-size: 1.5vw;
}


/* ====== Reusable Components ======*/
.navigation-bar {
    /* Box model */
    display: flex;
    max-width: 35%;
    margin: 1rem auto;
    padding: 0.5rem;
    
    /* Border */
    border-radius: 20px;
    
    /* Background */
    background-color: #1E1E24;
    
    /* Effects & other */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.navigation-bar a {
    /* Box model */
    margin: 0.5rem;
    padding: 1rem 1.8rem;
    
    /* Border */
    border: none;
    border-radius: 8px;

    /* Background */
    background-color: orange;
    
    /* Typography */
    font-size: 1rem;
    color: black;
    
    /* Effects & other */
    white-space: nowrap; /* Keeps buttons on a single line */
    transition: background-color 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

.navigation-bar a:hover {
    background-color: darkorange;
}

.navigation-bar a:active {
    background-color: aquamarine;
}

footer {
    /* Box model */
    width: 100%;
    height: 100px;
    
    /* Background */
    background-color: #1E1E24;
}

.center {
  display: flex;
  justify-content: center;
}

/* ====== Layout Containers ======*/
.container {
    /* Box model*/
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    
    /* Border */
    border-radius: 30px 30px 30px 30px;
    
    /* Background */
    background-color: #1E1E24;
}

.skills-container {
    /* Box model*/
    margin: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    
    /* Border */
    border-radius: 30px;
    
    /* Background */
    background-color: #1E1E24
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.column, skills-column {
    /* Box model */
    flex: 1 1 100%;
}

@media (min-width: 768px) {
    .column {
        flex: 1 1 47%;
    }
    
    .skills-column {
        flex: 1 1 30%;
    }
}

/* ====== Specific sections/pages ======*/
.header {
    /* Box model */
    margin-top: 1%;
    margin-left: 20%;
	margin-right: 20%;
	padding: 2px;
	
	/* Border */
    border-radius: 0px 50px 0px 50px;

    /* Background */
	background-color: #1E1E24;
	
	/* Typography */
	font-family: Consolas, monospace;
	font-size: 25px;
	text-align: center;
	color: white;
	
	/* Effects & other */
	text-shadow: 2px 2px 5px #FF8800;
}
